@model IEnumerable<MVC.Models.mvcFeatureModel>

@{
    ViewBag.Title = "Toggle Features";
}

<h2>EditFeatures</h2>
<table class="table table-striped">
    <thead class="table-heading">
        <tr>
            <th>
                Feature Name
            </th>
            <th>
                Feature Type
            </th>
            <th>
                Toggle Flag
            </th>
            <th>
                Permissions
            </th>
            <th></th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @switch (item.FeatureType)
                {
                    case "BlueButton":
                        <div class="blueBtn btn">@item.FeatureType</div>
                        break;
                    case "GreenButton":
                        <div class="greenBtn btn">@item.FeatureType</div>
                        break;
                    case "RedButton":
                        <div class="redBtn btn">@item.FeatureType</div>
                        break;
                }
            </td>
            <td>
                @if (item.FeatureFlag)
                {
                    <div class="feature-flag-on">On</div>
                }
                else
                {
                    <div class="feature-flag-off">Off</div>
                }
            </td>
            <td>
                @foreach (var perm in item.FeaturePermissionsList)
                {
                    <div>@perm</div>
                }
            </td>
            <td>
                <a href="@Url.Action("ToggleFeature", "Feature", new { featureId = item.Id})" class="btn btn-default"><i class="fa fa-power-off"></i> Toggle Feature </a>
                <a href="@Url.Action("AddOrEditFeature", "Feature", new { featureId = item.Id})" class="btn btn-default"><i class="fa fa-pencil"></i> Edit Feature </a>
                <a onclick="Delete(@item.Id)" class="btn btn-default"><i class="fa fa-trash"></i> Delete Feature  </a>
            </td>
        </tr>
    }
</table>
<p>
    <a href="@Url.Action("AddOrEditFeature", "Feature")" class="btn btn-default"><i class="fa fa-plus"></i> Create New Feature</a>
</p>

@section scripts{
    <script>
        $(function () {
            var successMessage = '@TempData["SuccessMessage"]'
            if (successMessage != '')
                alertify.success(successMessage);
        });

        function Delete(id) {
            alertify.confirm('Confirm Delete', 'Are you Sure you want to Delete?', function () {
                window.location.href = '@Url.Action("Delete", "Feature")/' + id;
            }, null);
        }
    </script>
}